<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Fight! Debate Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
</head>
<body>
    <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
        <div class="navlink"><a href="/logout">Log out</a></div>
        <div class="navlink"><a href="/quotePage">Domo Quotes</a></div>
        <div class="navlink"><a href="/chatPage">Chat Page</a></div>
    </nav>
    
    <div id="roomSelect">
        
    </div>

    <div id="deckDisplay">
        <div id="deck1">

        </div>
        <div id="deck2">

        </div>
    </div>

    <div id="chatDisplay">

    </div>

    <div id="textField">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/chatbundle.js"></script>
</body>
</html>